<section>


  
    <div class="content AddPage">
  
      <div class="page-header mb-4">
        <div class="page-title">
          <h4>Vouchers Approval</h4>
        </div>
      </div>
  
      <div class="card"  [formGroup]="VoucherForm">
        <div class="card-body">
          <div class="row align-items-center mb-2">
  
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Voucher Type</label>
                  <ng-select class="bold-placeholder" placeholder="--- Select Voucher Type ---" (change)="SelectVoucher($event)"
                    formControlName="vchType" [dropdownPosition]="'bottom'">
                    <ng-option value="Advance Salary">Advance-Salary</ng-option>
                    <ng-option value="Staff Loan">Staff-Loan</ng-option>
                    <ng-option value="Vehicle Loan">Vehicle-Loan</ng-option>
                    <ng-option value="EOBI">EOBI</ng-option>
                    <ng-option value="Income Tax">Income-Tax</ng-option>
                    <ng-option value="Other">Other Deductions</ng-option>
                    <ng-option value="Provident Fund">Provident-Fund</ng-option>
                  </ng-select>
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Month</label>
                  <ng-select class="bold-placeholder" placeholder="--- Select Month ---"
                  formControlName="month" [dropdownPosition]="'bottom'"
                  bindLabel="name" bindValue="id" [items]="months">
                </ng-select>
                </div>
              </div>
  
            <div class="col-lg-2 col-md-2 col-sm-12">
              <div class="position-relative w-100 me-2 form-group mb-0">
                <label class="fw-bold" style="margin-bottom: 0px !important;">Date Range:</label>
                <div class="input-groupicon">
                  <input type="text" class="form-control" formControlName="fromDate" placeholder="DD/MM/YYYY" matInput
                        [matDatepicker]="datepicker"  (click)="datepicker.open()" />
                      <mat-datepicker #datepicker ></mat-datepicker>
                  <div class="addonset">
                    <img src="/assets/img/icons/calendars.svg" alt="img">
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-2 col-md-2 col-sm-12">
                <div class="position-relative w-100 me-2 form-group mb-0">
                  <label class="fw-bold" style="margin-bottom: 0px !important;">To:</label>
                  <div class="input-groupicon">
                    <input type="text" class="form-control" formControlName="toDate" matInput placeholder="DD/MM/YYYY"
                        [matDatepicker]="datepicker2"  (click)="datepicker2.open()">
                      <mat-datepicker #datepicker2 ></mat-datepicker>
                    <div class="addonset">
                      <img src="/assets/img/icons/calendars.svg" alt="img">
                    </div>
                  </div>
                </div>
              </div>
  



              <div class="col-lg-2 col-sm-2 col-12 pt-4">
                <div>
                  <input class="form-check-input" formControlName="selectDate" type="checkbox" checked (change)="toggleDateRange()">
                  <label class="form-check-label pl-10 ">Select Date</label>
                </div>
              </div>

              
              <div class="col-lg-12 col-md-12 col-sm-12 pt-4 d-flex">
                <div class="form-group d-flex align-items-end" style="margin-bottom:0px!important;">
                 
                  <div class="d-flex align-items-center me-4">
                    <input type="radio" id="unapproved"  value="unapproved" [checked]="unapproved" class="me-1" name="approvalStatus" (click)="onClickFilter($event)">
                    <label for="unapproved" class="mb-0">Unapproved</label>
                  </div>
                  <div class="d-flex align-items-center">
                    <input type="radio" id="approved" value="approved" [checked]="approved"  class="me-1" name="approvalStatus" (click)="onClickFilter($event)">
                    <label for="approved" class="mb-0">Approved</label>
                  </div>
                  
                </div>
              </div>
              
          </div>
  
          <div class="table-responsive" style="height: 200px">
            <table class="table table-hover" id="tbl-print">
              <thead>

                <tr>
                  <th>E-id</th>
                  <th>Thumb Id</th>
                  <th>Employee Name</th>
                  <th>Vch No</th>
                  <th>Vch Date</th>
                  <th>Amount</th>
                  <th>Remarks</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of VoucherAppListFiltered" (click)="rowHighLight($event)">
  
                  <td class="">{{ data.empy_id }}</td>
                  <td class="">{{ data.tumbid }}</td>
                  <td class="">{{ data.EmpName }}</td>
                  <td class="">{{ data.VchNo }}</td>
                  <td class="">{{ data.VchDate }}</td>
                  <td class="">{{ data.Amount }}</td>
                  <td class="">{{ data.Remarks }}</td>
                  <td class="d-none">{{ data.Type }}</td>
                  <td class="text-center">
                    <input type="checkbox" [checked]="data.sent" (change)="updateSentStatus($event, data)">
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
  
          <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
              <button type="submit" class="btn btn-success btn-sm me-1" (click)="onClickSave()">Save</button>
              <button class="btn btn-secondary btn-sm me-1" (click)="onClickRefresh()">Refresh</button>
              <div class="d-inline" style="float: right;">
                <input class="form-check-input" formControlName="apprvAll" type="checkbox" (change)="toggleApproveAll()">
                <label class="form-check-label pl-10 ">Approve All</label>
            </div>
            
              
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </section>
  
