<section>

  <div class="content ListPage">
    <div class="page-header">
      <div class="page-title">
        <h4 class="newcolor">HR Setup</h4>
        <h6 class="newcolor">Leaves Type Entry</h6>
      </div>
      <div class="page-btn">
        <div class="wordset newwordset">
          <ul>
            <li>
              <a data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="pdf" id="pdfPrint">
                <img src="/assets/img/icons/pdf.svg" alt="img">
              </a>
            </li>
            <li>
              <a href="/Home/Index" role="button">
                <i class="fas fa-times-circle fs-22" style="color: #ff0000;"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-body">

        <div class="row align-items-center mb-2"  [formGroup]="HrSetupForm">
          

          <div class="col-lg-2 col-md-3 col-sm-12">
            <div class="position-relative w-100 me-2">
              <label class="fw-bold">Type</label>
              <ng-select class="bold-placeholder" placeholder="--- Select Type ---" bindLabel="name" bindValue="id"
                formControlName="type" [dropdownPosition]="'bottom'">
                <ng-option value="Allowances">Allowances</ng-option>
                <ng-option value="Leaves">Leaves</ng-option>
                <ng-option value="Deductions">Deductions</ng-option>
              </ng-select>
            </div>
          </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
          <div class="position-relative w-100 me-2">
            <label class="fw-bold">Name</label>
            <input type="text" formControlName="name" [readOnly]="Disabled" class="form-control me-2">
            <input type="text" formControlName="HrSetupNo" readonly class="form-control me-2 d-none">

          </div>
        </div>

        <div class="col-lg-3 col-md-3 col-sm-12">
            <div class="position-relative w-100 me-2">
              <label class="fw-bold">Category</label>
              <ng-select class="bold-placeholder" placeholder="--- Select Category ---" bindLabel="name" bindValue="id"
                formControlName="category" [dropdownPosition]="'bottom'" [readonly]="Disabled">
                <ng-option value="Permanent">Permanent</ng-option>
                <ng-option value="Contract">Contract</ng-option>
              </ng-select>
            </div>
          </div>


          <div class="col-lg-2 col-md-2 col-sm-12">
            <label class="fw-bold">Amount</label>
            <input type="number" formControlName="amount" [readonly]="Disabled" (input)="onlyNumeric($event)" class="form-control me-2">
          </div>
            <div class="col-lg-2 col-md-1 pt-3">

              <button class="btn btn-primary btn-sm me-1" [hidden]="isShow" (click)="onClickNew()"> New</button>
              <button type="submit" class="btn btn-success btn-sm me-1" [hidden]="!isShow"
                (click)="onClickSave()">Save</button>
                <button class="btn btn-secondary btn-sm me-1" (click)="onClickRefresh()">Refresh</button>
  
            </div>
        </div>
        <div class="table-responsive mb-1" style="height: 380px;">
          <table class="table table-hover" id="tbl-print">
            <thead>
              <tr>
                <th class="text-start">Id</th>
                <th class="text-start">Name</th>
                <th class="text-center">Type</th>
                <th class="text-center">Category</th>
                <th class="text-center">Amount</th>
                <th class="text-center w-12">Action</th>
              </tr>
            </thead>
            <tbody #voucherLists>
              <tr *ngFor="let data of voucherList">
                <td class="text-start">{{data.HrSetupId}}</td>
                <td class="text-start">{{data.Name}}</td>
                <td class="text-center">{{data.Type}}</td>
                <td class="text-center">{{data.Category}}</td>
                <td class="text-center">{{data.Amount}}</td>
                <td class="text-center">
                  <span (click)="editSetup(data)" class="me-3 btnEditCategory">
                    <img src="/assets/img/icons/edit.svg" style="cursor: pointer;" alt="Edit">
                  </span>
                  <span (click)="deleteSetup(data.HrSetupId)" class="confirm-text btnDelCategory">
                    <img src="/assets/img/icons/delete.svg" style="cursor: pointer;" alt="Delete">
                  </span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

