.form-control {
    height: 22px !important;
}

.form-group input[type=text] {
    height: 22px !important;
}

::ng-deep .ng-select.ng-select-single .ng-select-container {
    height: 22px !important;
    font-size: 5px !important;
}

::ng-deep .ng-select .ng-select-container {
    min-height: 22px !important;
    border-radius: 2px;
}

::ng-deep .ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 0px 6px;
}

.search-set .search-input input[type=search] {
    height: 22px !important;
}


label {
    font-size: 11px !important;
}

/* For ng drop down */

::ng-deep .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 0;
}

::ng-deep .ng-clear,
.ng-value,
.ng-placeholder {
    margin-top: 4px;
}

::ng-deep .ng-option {
    padding: 3px 10px !important;
}

::ng-deep .ng-option span,
.ng-option-disabled {
    font-size: 10px;
}

::ng-deep .ng-value-label,.ng-placeholder {
    font-size: 13px;
}

.customng ::ng-deep .ng-value-label,
.customng ::ng-deep .ng-placeholder {
    /* Styles for the first ng-select element */
    font-size: 10px !important;
}





::ng-deep .ng-input input {
    font-size: 13px;
}

.custom-placeholder ::ng-deep .ng-select-container .ng-placeholder {
    font-size: 5px !important; /* Change this value to the desired font size */
  }