@{
    Layout = null;
}

<div class="modal-dialog" style="position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);">
    <div class="modal-content" style="border:none;background-color:transparent;">
        <div class="modal-body text-center d-flex align-items-center justify-content-center">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;" width="70px" height="70px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#ff9f43" stroke-width="8" r="30" stroke-dasharray="141.37166941154067 49.12388980384689">
                <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s" values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
            </circle>
        </svg>



            @*<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;" width="300px" height="300px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                <g transform="translate(50 50)">
                    <g>
                        <animateTransform attributeName="transform" type="rotate" values="0;30" keyTimes="0;1" dur="0.3663003663003663s" repeatCount="indefinite"></animateTransform><path d="M27.83882181415011 -3 L35.83882181415011 -3 L35.83882181415011 3 L27.83882181415011 3 A28 28 0 0 1 25.609126902482387 11.321334695721738 L25.609126902482387 11.321334695721738 L32.537330132757894 15.321334695721738 L29.537330132757898 20.51748711842837 L22.609126902482387 16.51748711842837 A28 28 0 0 1 16.517487118428374 22.609126902482387 L16.517487118428374 22.609126902482387 L20.517487118428374 29.537330132757894 L15.321334695721745 32.537330132757894 L11.321334695721744 25.609126902482384 A28 28 0 0 1 3 27.83882181415011 L3 27.83882181415011 L3.0000000000000004 35.83882181415011 L-2.9999999999999964 35.83882181415011 L-2.999999999999997 27.83882181415011 A28 28 0 0 1 -11.321334695721735 25.60912690248239 L-11.321334695721735 25.60912690248239 L-15.321334695721733 32.5373301327579 L-20.517487118428363 29.5373301327579 L-16.517487118428363 22.60912690248239 A28 28 0 0 1 -22.609126902482384 16.51748711842838 L-22.609126902482384 16.51748711842838 L-29.53733013275789 20.517487118428384 L-32.53733013275789 15.321334695721752 L-25.60912690248238 11.32133469572175 A28 28 0 0 1 -27.83882181415011 3.0000000000000018 L-27.83882181415011 3.0000000000000018 L-35.83882181415011 3.0000000000000027 L-35.83882181415011 -2.999999999999994 L-27.838821814150112 -2.9999999999999947 A28 28 0 0 1 -25.60912690248239 -11.321334695721733 L-25.60912690248239 -11.321334695721733 L-32.5373301327579 -15.321334695721731 L-29.5373301327579 -20.51748711842836 L-22.60912690248239 -16.517487118428363 A28 28 0 0 1 -16.517487118428388 -22.609126902482373 L-16.517487118428388 -22.609126902482373 L-20.51748711842839 -29.53733013275788 L-15.321334695721745 -32.537330132757894 L-11.321334695721742 -25.609126902482387 A28 28 0 0 1 -3.000000000000016 -27.83882181415011 L-3.000000000000016 -27.83882181415011 L-3.0000000000000173 -35.83882181415011 L3.0000000000000044 -35.83882181415011 L3.0000000000000058 -27.83882181415011 A28 28 0 0 1 11.321334695721708 -25.6091269024824 L11.321334695721708 -25.6091269024824 L15.321334695721703 -32.537330132757916 L20.517487118428352 -29.53733013275791 L16.51748711842836 -22.609126902482394 A28 28 0 0 1 22.609126902482373 -16.51748711842839 L22.609126902482373 -16.51748711842839 L29.53733013275788 -20.517487118428395 L32.53733013275789 -15.321334695721749 L25.609126902482384 -11.321334695721744 A28 28 0 0 1 27.83882181415011 -3.0000000000000173 M0 -20A20 20 0 1 0 0 20 A20 20 0 1 0 0 -20" fill="#0055a5"></path>
                    </g>
                </g>
            </svg>
            
            *@
            
            <h3 class="fw-bolder" style="color:#ff9f43; position:fixed; z-index:900; font-size:14px;"><span id="count-second"></span></h3>
        </div>
    </div>
</div>



