@{
    Layout = null;
}

<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn-close1" data-bs-dismiss="modal"></button>
            </div>
            <div class="form-group text-center">
                <h1>Select Widget</h1>
            </div>
            <dvi class="form-group text-center">
                <ul class="widget-list">
                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="INCIDENT DETAIL" type="radio" id="" widgetname="IncidentCount" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">INCIDENT DETAIL</label>
                        </div>
                    </li>
                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="SENSOR COUNT" type="radio" id="" widgetname="SensorCount" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">SENSOR COUNT</label>
                        </div>
                    </li>

                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="FAULT HISTORY" type="radio" id="" widgetname="FaultHistory" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">FAULT HISTORY</label>
                        </div>
                    </li>




                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="MAINTENANCE HISTORY" type="radio" id="" widgetname="MaintenanceHistory" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">MAINTENANCE HISTORY</label>
                        </div>
                    </li>


                 <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="RESET COUNT" type="radio" id="" widgetname="ResetCount" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">RESET COUNT</label>
                        </div>
                    </li>




                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="SLA AVERAGE" type="radio" id="" widgetname="SLAAverage" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">SLA AVERAGE</label>
                        </div>
                    </li>

                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="RECENT LOCATION" type="radio" id="" widgetname="RecentLocations" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">RECENT LOCATION</label>
                        </div>
                    </li>
                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="OPEN VOUCHERS" type="radio" id="" widgetname="OpenVouchers" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">OPEN VOUCHERS</label>
                        </div>
                    </li>


                      <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="BRIGHTNESS" type="radio" id="" widgetname="Brightness" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">BRIGHTNESS</label>
                        </div>
                    </li>

                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="OBJECT TEMPERATURE" type="radio" id="" widgetname="ObjectTemperature" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">OBJECT TEMPERATURE</label>
                        </div>
                    </li>

                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="ASSETS" type="radio" id="" widgetname="Assets" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">ASSETS</label>
                        </div>
                    </li>

                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="NEW TOV CLOSED" type="radio" id="" widgetname="Newtovclosed" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">NEW TOV CLOSED</label>
                        </div>
                    </li>
                    <li class="p-2 m-2 rounded-pill">
                        <div class="d-flex align-items-center pe-3 ps-3">
                            <input label="Line Chart" type="radio" id="" widgetname="LineChart" class="me-1 btnradioclick Widgettyperadio" name="widget-radio">
                            <label for="" class="m-0 p-0">Line Chart</label>
                        </div>
                    </li>

                   
                </ul>
                <button class="btnnext" style="float:right;"> Add Widget</button>
            </dvi>
        </div>
    </div>
</div>
@*data-bs-dismiss="modal" *@