@{
    Layout = null;
}



@{
    Layout = null;
}
<div style="float: left; width: 100%;">
    <h3 style="float: left;">RESET COUNT</h3>
    <br />

    <table style="width: 100%; margin-top:20px">
        <tr>
            <td style="float: left;"><h5>GLASS SENSOR</h5></td>
            <td style="float: right"><h2>2</h2></td>
        </tr>
        <tr>
            <td style="float: left;"><h5>DOOR SENSOR</h5></td>
            <td style="float: right"><h2>15</h2></td>
        </tr>
    </table>
</div>


