.filter-img {
  background: #ff9f43;
  padding: 2px;
  border-radius: 4px;
  width: 35px;
  height: 23px;
  cursor: pointer;
}

.add-new {
  background: #ff9f43;
  border-radius: 4px;
  color: white;
  text-align: center;
  padding: 2px;
  cursor: pointer;
}
