<!-- <div class="modal-header">
  <h4 class="modal-title">Report Viewer</h4>
  
</div>
<div class="modal-body">
</div> -->
<button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">x</span>
</button>
<app-report-viewer [reportUrl]="reportUrl"></app-report-viewer>

<!-- <div class="modal fade" id="ReportModal">
        <div class="modal-dialog" style="max-width: 100%;">
          <div class="modal-content">
            <div class="modal-header p-1 align-items-center text-center">
              <h5 class="modal-title mt-2" id="WarehouseModalLabel" style="font-size: 20px; font-weight: normal;"> Report
              </h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body p-2">
              <div class="card-body p-2">
                <h1>Hello World!</h1>
              </div>
            </div>
          </div>
        </div>
      </div> -->
