<div class="content ListPage">
  <div class="page-header mb-1">
    <div class="page-title">
      <h4>Cash Flow Report</h4>
    </div>
    <div class="page-btn">
      <div class="wordset newwordset">
        <ul>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label>From Date</label>
                <div class="input-groupicon">
                  <input type="text" class="form-control" placeholder="DD/MM/YYYY" matInput [matDatepicker]="datepicker"
                    [(ngModel)]="fromDate" (click)="datepicker.open()" />
                  <mat-datepicker #datepicker [startAt]="fromDate"></mat-datepicker>
                  <div class="addonset">
                    <img src="/assets/img/icons/calendars.svg" alt="img">
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label>To Date</label>
                <div class="input-groupicon">
                  <input type="text" class="form-control" placeholder="DD/MM/YYYY" matInput
                    [matDatepicker]="datepicker1" [(ngModel)]="toDate" (click)="datepicker1.open()" />
                  <mat-datepicker #datepicker1 [startAt]="toDate"></mat-datepicker>
                  <div class="addonset">
                    <img src="/assets/img/icons/calendars.svg" alt="img">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row my-2">
            <div class="col-lg-2 d-flex">
              <input type="radio" class="me-1" name="tag" id="tag1" checked (change)="changeTag('both')">
              <label class="fw-bolder" for="tag1">Both</label>
            </div>
            <div class="col-lg-2 d-flex">
              <input type="radio" class="me-1" name="tag" id="tag2" (change)="changeTag('cash')">
              <label class="fw-bolder" for="tag2">Cash</label>
            </div>
            <div class="col-lg-2 d-flex">
              <input type="radio" class="me-1" name="tag" id="tag3" (change)="changeTag('bank')">
              <label class="fw-bolder" for="tag3">Bank</label>
            </div>
          </div>
          <div class="row content-justify-center">
            <div class="col-lg-12 col-md-12 col-sm-12 text-center">
              <button class="btn btn-primary btn-sm me-2" id="btnView" (click)="openReportModal() ">View</button>
              <button class="btn btn-primary btn-sm" id="btnView" (click)="viewCashBankStatus() ">View Bank/Cash</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
