<div class="modal-body text-center d-flex align-items-center justify-content-center" style="height: 100%;">
  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="display: block;"
    width="70px" height="70px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
    <circle cx="50" cy="50" fill="none" stroke="#ff9f43" stroke-width="8" r="30"
      stroke-dasharray="141.37166941154067 49.12388980384689">
      <animateTransform attributeName="transform" type="rotate" repeatCount="indefinite" dur="1s"
        values="0 50 50;360 50 50" keyTimes="0;1"></animateTransform>
    </circle>
  </svg>
  <h3 class="fw-bolder mb-0" style="color: #ff9f43; position: fixed; z-index: 900; font-size: 14px;">
    <span id="count-second"></span>
  </h3>
</div>
