<div class="modal-dialog" style="max-width:65%;">
    <div class="modal-content">
        <div class="modal-header p-2 align-items-center">
            <h5 class="modal-title">Location</h5>
            <button type="button" class="close fs-30" data-bs-dismiss="modal" aria-label="Close">&times;</button>
        </div>
        <div class="modal-body p-2">
            <div class="card mb-0" style="border-radius:10px;">
                <div class="card-body p-0">
                    <div class="float-end" id="map" style="height: 400px; width: 100%; margin: auto; border-radius:8px;"></div>
                </div>
            </div>
        </div>
    </div>
</div>
