<section>
  
    <div class="content AddPage">
  
      <div class="page-header mb-4">
        <div class="page-title">
          <h4>Employee Incentive From</h4>
        </div>
      </div>
  
      <div class="card">
        <div class="card-body">
          <div class="row align-items-center mb-2" [formGroup]="EmpIncentiveForm">
  
            <div class="col-lg-3 col-md-3 col-sm-12 d-none">
              <div class="position-relative w-100 me-2">
                <label class="fw-bold">Sr No.</label>
                <input type="text" formControlName="SrNo" readonly class="form-control me-2">
              </div>
            </div>
  
            <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="mb-2">
                  <label class="fw-bolder">Employee Name</label>
                  <div class="row">
                    <div class="col-lg-12 col-sm-12 col-12">
                      <ng-select class="bold-placeholder" placeholder="--- Select Employee ---"   (change)="editIncentive($event)"
                      [items]="EmployeeList" 
                      bindLabel="name"
                      bindValue="empy_id"
                        formControlName="empName"
                        [dropdownPosition]="'bottom'" [readonly]="Disabled">
                      </ng-select>
                    </div>
                  </div>
                </div>
              </div>
  
            <div class="col-lg-3 col-md-3 col-sm-12">
              <div class="position-relative w-100 me-2 form-group mb-0">
                <label class="fw-bold" style="margin-bottom: 0px !important;">Date</label>
                <div class="input-groupicon">
                  <input type="text" class="form-control" placeholder="DD/MM/YYYY" matInput [matDatepicker]="datepicker"
                    (click)="datepicker.open()" formControlName="Date" />
                  <mat-datepicker #datepicker></mat-datepicker>
                  <div class="addonset">
                    <img src="/assets/img/icons/calendars.svg" alt="img">
                  </div>
                </div>
              </div>
            </div>
  

            <div class="col-lg-3 col-md-3 col-sm-12"> 
              <div class="position-relative w-100 me-2">
                <label class="fw-bold">Telephone</label>
                <input type="number" formControlName="telephone" [readonly]="Disabled" class="form-control me-2">
              </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Petrol/Conv</label>
                  <input type="number" formControlName="petrol" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">TA/DA/Food</label>
                  <input type="number" formControlName="tadafood" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">N.T/Security Allowance</label>
                  <input type="number" formControlName="security" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Maintaince</label>
                  <input type="number" formControlName="maintaince" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12">
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">House/Other</label>
                  <input type="number" formControlName="house" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Medical Allowance</label>
                  <input type="number" formControlName="medical" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Gym Allowance</label>
                  <input type="number" formControlName="gym" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Family Assistance</label>
                  <input type="number" formControlName="family" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-3 col-md-3 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Total Incentives</label>
                  <input type="number" formControlName="totalIncntive" [readonly]="Disabled" readonly class="form-control me-2">
                </div>
              </div>

              <div class="col-lg-10 col-md-10 col-sm-12"> 
                <div class="position-relative w-100 me-2">
                  <label class="fw-bold">Remarks</label>
                  <input type="text" formControlName="remarks" [readonly]="Disabled" class="form-control me-2">
                </div>
              </div>

              

            <div class="col-lg-2 col-md-2 col-sm-12 pt-3">
              <button class="btn btn-primary btn-sm me-1" [hidden]="isShow" (click)="onClickNew()">New</button>
              <button type="submit" class="btn btn-success btn-sm me-1" [hidden]="!isShow"
                (click)="onClickSave()">Save</button>
              <button class="btn btn-secondary btn-sm me-1" (click)="onClickRefresh()">Refresh</button>
            </div>
          </div>

            <div class="table-responsive" style="height: 200px;">
              <table class="table table-hover" id="tbl-print">
                <thead>
                  <tr>
                    <th>Sr No.</th>
                    <th>Employee Name</th>
                    <th>Date</th>
                    <th>Petrol/Conv</th>
                    <th>Security</th>
                    <th>Medical</th>
                    <th>Total</th>
                    <th>Remarks</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of EmpIncentiveList" (click)="rowHighLight($event)">
    
                    <td class="">{{ data.srno }}</td>
                    <td class="">{{ data.empName }}</td>
                    <td class="d-none">{{ data.EmpyId }}</td>
                    <td class="">{{ data.Date }}</td>
                    <td class="">{{ data.petrol }}</td>
                    <td class="">{{ data.security }}</td>
                    <td class="">{{ data.medical }}</td>
                    <td class="">{{ data.totalIncntive }}</td>
                    <td class="">{{ data.remarks }}</td>
                    <td class="text-center">
                      <!-- Edit Button -->
                      <span (click)="editItem(data)" class="me-3 btnEditItem" style="cursor: pointer">
                        <i class="fas fa-edit"></i>
                      </span>
                      <!-- Delete Button  -->
                      <span (click)="deleteIncentive(data.srno, data.EmpyId)" class="confirm-text btnDelItem" style="cursor: pointer">
                        <i class="fas fa-trash"></i>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
  
        </div>
      </div>
    </div>
  </section>
  
